{{#each workouts as |workout|}}

  {{> partial}}
  <!-- Don't uncomment yet -->

 <!-- Developers, why are we using data-id and not just i d?-->
  <dl data-id="{{workout.id}}">
    <dt>Name:</dt>
    <dd>{{workout.name}}</dd>
    <!-- {{#if workout.name}} -->
    <dt>Reps:</dt>
    <dd>{{workout.reps}}</dd>
    <dt>Sets:</dt>
    <dd>{{workout.sets}}</dd>
    <!-- {{else}}
      No description.
    {{/if}} -->
  <button data-id="button-{{@index}}" class="btn btn-default removeLastButton">Delete Workout!</button>
</dl>
{{/each}}
